{% extends 'dummy.html' %}

{% block title %}
    <title>Answer Page</title>
    {% endblock %}

{% block body_block %}
{% if username %}
<h1 class="font-italic">Welcome {{username}}</h1>


    <table class="table table-hover bg-dark">
        <tr class="text-light">
            <th>Questions</th>
            <th>Answers</th>
            <th>Answered By</th>
        </tr>

        {% for ao in Answers %}
        <tr class="text-light">
            <td>{{ao.question}}</td>
            <td>{{ao.answer}}</td>
            <td>{{ao.username}}</td>
        </tr>
        {% endfor %}

    </table>

    <a href="{% url 'display_questions' %}">Back</a>


    
{% endif %}
{% endblock %}